.his_back{
    width: 100%;
    min-height: 100vh;

}

.his_body{
    margin-top: 2%;
    margin-left:5%;
    margin-right:6%;
   
}

.his_head{
    font-weight: 1000;
    font-size: 55px;
}

.his_buttons{
    margin-top: 3%;

}

.his_bbutton{
    border-radius: 20px;
    background-color: black;
    color:white;
    border: none;
    font-size: x-large;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:10px ;
    padding-bottom: 10px;

}



.his_search{
    font-size: large;
    padding:0.8%;
    padding-right: 19%;
    margin-left: 66%;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 2px black;
    outline: none;
}



.his_grid{
    display: grid;
    grid-template-columns: 1fr 6fr ;
}



.underline{
    text-decoration:underline ;
    text-decoration-thickness: 3px;
}

.radio-buttons{
    margin-top: 20%;
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
}

#radio{
    margin-top: 10%;
}

.today{
    font-size: x-large;
    font-weight: bolder;
}
.his_table{
    display: flex;
    flex-direction: column;
    margin-left:2%;
    text-align: left;
    box-shadow: 2px 5px 3px black;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    height: fit-content;
}

.grid_table{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    margin-bottom: 2%;
}

.grid_table-light{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    
    background-color: #f5f5f5;
}

.grid_table-dark{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
   
    background-color: #d9d9d9;
}
.head{
    font-size: x-large;
    font-weight: bolder; 
}

.grid{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.titles{
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
}

.but-light{
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}

.but-dark{
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}

.checkbox{
    height:20px;
    width:20px;
    margin-left: 20%;
    margin-top: 25%;
    margin-bottom: 25%;

}

.his_delete{
    border-radius: 20px;
    background-color: red;
    outline: none;
    padding:5px;
    font-weight: bold;
}

.his_delete_back{
    background-color: rgba(0,0,0,0.5);
    min-height:100vh;
    width:100%;
    font-size: xx-large;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.his_del_body{
    background-color: #d9d9d9;
    padding:2%;
    border-radius: 10px;
    
}

.his_del_btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.his_btns{
    margin:5%;
    background-color: #888686;
    color: white;
    font-weight: bolder;
}

.his_btns:hover{
    color: #888686;
    background-color: white;
}
