:root {
  --home-background-color: #DF826C;
  --pure-white: #FFFFFF;
  --secondary-color: #2ecc71;
  --education-section-background:#3F3D56;
  --font-size: 16px;
  --canvas-text: #CAF4F4;
  --canvas-title: #3a2d97;
}

body {
  margin:0;
  width: 100%;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Home Part and Navbar Part */

.home-container {
  background-color: var(--home-background-color);
}

.navbar,
.navbar-default {
  background-color: var(--home-background-color) !important;
}

.nav-link {
  color: var(--pure-white);
  margin: 0 20px 0;
  font-size: 18px;
  font-weight: 700;
}

.button-navbar {
  margin: 0 10px 0;
}


.content-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  padding: 20px 0 0 30px;
  font-family: 'Titan One';
  font-size: 60px;
  color: var(--pure-white);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
 }

/* Education Part */

.education-container {
  background-color: var(--education-section-background);
}


.education-bulb{
  height: 80px ;
  padding: 20px 0 0;
}

.education-text{
  font-size: 60px;
  font-family: "Rock Salt";
  color: var(--pure-white);
}

.education-tagline{
  font-size: 40px;
  font-family: "Shalimar";
  color: var(--pure-white);
}

.center-col {
  font-family: "Reenie Beanie";
  color: var(--pure-white);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
 }

 .cards_section{
  padding-top: 30px;
 }

 .cards_style{
  height: 100%;
 }

 .card_image{
  padding-top: 15px;
 }

 .card_title{
  font-weight: 700;
 }


/* Mobile views */

 @media only screen and (max-width: 991px) {
  .offcanvas-header{
    background-color: var(--canvas-text);
  }

  .nav-link{
    color: #3a2d97;
  }

  .offcanvas-body{
    background-color: var(--canvas-text);
   }
  
   .button-navbar{
    margin-top: 10px;
   }
}